<div class="clients" id="clients">
    <div class="container">
        <div class="clients__wrapper">
            <div class="clients__inner">
                <div class="clients__part">Happy Clients</div>
                <div class="clients__part">
                    <img class="clients__part__logo" src="images/barbaria_logo.png" alt="logo">
                    <img class="clients__part__logo" src="images/brill_logo.png" alt="logo">
                    <img class="clients__part__logo" src="images/loxa_logo.png" alt="logo">
                    <img class="clients__part__logo" src="images/luscioas_logo.png" alt="logo">
                    <img class="clients__part__logo" src="images/minkys_logo.png" alt="logo">
                    <img class="clients__part__logo" src="images/salon_logo.png" alt="logo">
                </div>
            </div>
        </div>
    </div>
</div>