.clients {
  background-image: url("images/rectangle.png");
  margin: 80px 0;
  @media (max-width: 1199px){
    margin: 40px 0;
  }
  @media (max-width: 767px){
    margin: 20px 0;
  }

  &__wrapper {
max-width: 1600px;
    height: 300px;
    padding: 60px;
    @media (max-width: 1599px){
      padding: 60px 0;
    }
    @media (max-width: 1399px){
      padding: 15px 0;
    }
  }

  &__part {
    margin: 20px;
    text-align: center;
    font-size: 40px;
    color: @title_color;
    @media (max-width: 1599px){
      margin: 20px 0;
    }
    @media (max-width: 639px){
      font-size: 35px;
      margin: 10px 0;
    }

    &__logo {
      padding: 10px 20px;
      text-align: center;
      @media (max-width: 767px){
        padding: 10px 5px;
      }
      @media (max-width: 639px){
        max-width: 140px;
        padding: 5px;
      }
    }
  }
}
