<!DOCTYPE html>
<html lang=”en”>
<head>
    <%- include('connecting.ejs') -%>
</head>
<body>
<div class="wrapper">
    <%- include('../../common/header/header.ejs') -%>
    <div class="content post">
        <%- locals.body %>
    </div>
    <%- include('../../common/footer/footer.ejs') -%>
</div>
<script src="gallery.js"></script>
<script src="form.js"></script>
</body>
</html>