/**
footer down
 */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
/**
медиа респонсив
 */
/*screen sizes*/
/*container sizes*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    width: 630px;
  }
}@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}

.container:before, .container:after {
  display: table;
  content: " ";
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  display: none !important;
}

@media (max-width: 649px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 650px) {
  .hidden-xs-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg-up {
    display: none !important;
  }
  @media (max-width: 1400px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1399px) {
  .hidden-lg-up {
    display: none !important;
  }
}
}@media (max-width: 1919px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1920px) {
  .hidden-lg-up {
    display: none !important;
  }
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}