<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__inner footer_contact&insta">
                <figure class="footer__text"><img class="header__logo" src="images/logo.png" alt="photographer">
                </figure>
                <div class="footer__item">
                    <h3 class="footer__tit">Contact</h3>
                    <div class="footer__item__post">237 Church St, San Francisco,<br> CA 94114, USA <br>nazmulhasanjingar@
                    </div>
                    <h3 class="footer__tit">Follow me on:</h3>
                    <div class="footer__item__post">
                        <a class="link_style" href="https://www.facebook.com/profile.php?id=100002158751744"><i class="fab fa-facebook-f icons"></i></a>
                        <a class="link_style" href="#"><i class="fab fa-twitter icons"></i></a>
                        <a class="link_style" href="https://instagram.com/vin.vv?igshid=1rlrtdeajhz8y"><i class="fab fa-instagram icons"></i></a>
                        <a class="link_style" href="#"><i class="fab fa-linkedin-in icons"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__inner footer__latest_blog">
                <h3 class="footer__tit">Latest Blog Posts</h3>
                <div class="footer__item footer__latest_blog__item">
                   <div class="footer__item__post"><img src="images/photo_blog1.png" alt=""></div>
                    <div class="footer__item__post">Design is the method of putting form and content together.</div>
                </div>
                <div class="footer__item footer__latest_blog__item">
                    <div class="footer__item__post"><img src="images/photo_blog2.png" alt=""></div>
                    <div class="footer__item__post">Design is the method of putting form and content together .</div>
                </div>
                <div class="footer__item"><a class="footer__item__list" href="">MORE...</a></div>
            </div>
            <div class="footer__inner footer__quick_link">
                <h3 class="footer__tit">Quick Link</h3>
                <div class="footer__item">
                    <ul>
                        <li><a class="footer__item__list" href="index.html">Home</a></li>
                        <li><a class="footer__item__list" href="about.html">About</a></li>
                        <li><a class="footer__item__list" href="index.html#clients">Clients</a></li>
                        <li><a class="footer__item__list" href="index.html#gallery">Portfolio</a></li>
                        <li><a class="footer__item__list" href="index.html#blog">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__inner footer_contact&insta">
                <h3 class="footer__tit">Instagram Update</h3>
                <div class="footer__item__post"><img src="images/insta_grup.png" alt=""></div>
            </div>
        </div>
    </div>
</footer>