.footer {
  background-color: @bg_color;
  border-top-color: @input_color;
  border-top-style: solid;
  border-top-width: 1px;

  &__wrapper {
   max-width: 1600px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 991px){
      flex-wrap: nowrap;
    }
    @media (max-width: 639px){
      display: block;
      justify-content: center;
    }

  }

  &__inner {
    .font_white;
    font-size: 16px;
    @media (max-width: 639px){
      text-align: center;
      font-size: 18px;
    }
  }

  &__tit {
    padding: 10px 0;
    font-size: 24px;
  }

  &__item {
    &__post {
      display: inline-block;
      padding: 5px;
    }
  }

  &__contact&insta {
    width: 24%;
    @media (max-width: 991px){
      margin: 0 auto;
    }
    @media (max-width: 639px){
      width: 100%;
    }
  }

  &__latest_blog {
    width: 30%;
    @media (max-width: 991px){
      display: none;
    }
    @media (max-width: 639px){
      width: 100%;
    }

    &__item {
      display: flex;
    }
  }

  &__quick_link {
    width: 15%;
    @media (max-width: 991px){
      margin: 0 auto;
    }
    @media (max-width: 639px){
     display: none;
    }
  }

  &__item__list {
    .link_style;
    display: inline-block;
    padding: 5px;
    color: @title_color;
    font-weight: bold;
  }
}
