<section class="my_self">
    <div class="container">
        <div class="my_self__wrapper">
            <div class="my_self__inner my_self__image">
                <img class="my_self__image__img" src="images/my_self.png" alt="photo with camera in hands">
            </div>
            <div class="my_self__inner my_self__text">
                <div class="my_self__part">
                <h1 class="my_self__part__tit">About MySelf</h1>
                <p>Hey, thanks for stopping by. My name’s Dakota Jhonson junior and I’m a briliant Art Director and pro
                    Photographer based in the San Francisco where I make cool things for agencies and brands around
                    globe. Mentas is loaded with useful features, each one with its own meaningful purpose. We listen to
                    our users and integrate their feature requests on a regular basis. If you like my work then please
                    do not hesitate to reach out.</p>
                </div>
                <div class="my_self__part">
                    <h2 class="my_self__part__tit">What I Do?</h2>
                    <div class="my_self__part__wrap">
                    <div class="my_self__part__skill">
                        <h3 class="my_self__part__skill__tit">fashion</h3>
                        <div>
                            <img class="my_self__part__skill__img" src="images/fashion.png" alt="photo">
                        </div>
                    </div>
                    <div class="my_self__part__skill">
                        <h3 class="my_self__part__skill__tit">portraits</h3>
                        <div>
                            <img class="my_self__part__skill__img" src="images/portraits.png" alt="photo">
                        </div>
                    </div>
                    <div class="my_self__part__skill">
                        <h3 class="my_self__part__skill__tit">lifestyle</h3>
                        <div>
                            <img class="my_self__part__skill__img" src="images/lifestyle.png" alt="photo">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="my_self__part">
                    <button class="my_self__part__button">View My Flicker profile</button>
                </div>
            </div>

        </div>

    </div>

</section>