
.my_self {
  width: 100%;
  margin: 80px 0;
  font-family: sans-serif;
  color: @my_self_color;
  line-height: 1.5;
  @media (max-width: 1199px){
    margin: 40px 0;
  }
  @media (max-width: 767px){
    margin: 20px 0;
  }

  &__wrapper {
    display: flex;
    @media (max-width: 767px){
      display: block;
    }
  }
  &__image{
    @media (max-width: 1199px){
      width: 40%;
    }
    @media (max-width: 991px){
      width: 50%;
    }
    @media (max-width: 767px){
      width: 100%;
      margin: 0 auto;
    }
    &__img{
      @media (max-width: 1199px){
        width: 100%;
      }
    }
  }

  &__text {
    margin: 60px 90px 0;
    @media (max-width: 1399px){
      margin: 0 40px 0;
    }
    @media (max-width: 1199px){
      margin: 0 20px 0 50px;
      width: 50%;
    }
    @media (max-width: 991px){
      width: 70%;
      margin: 0 20px 0 20px;
    }
    @media (max-width: 767px){
      width: 100%;
      margin: 0 auto;
    }

  }

  &__inner {

  }

  &__part {
    margin-bottom: 25px;
    font-size: 18px;
    padding: 5px;
    text-align: justify;
    @media (max-width: 1399px){
    margin-bottom: 5px;
      @media (max-width: 1199px){
        font-size: 16px;
      }
      @media (max-width: 767px){
        margin: 0 auto;
        text-align: center;
      }
    }

    &__tit{
      margin: 20px 0;
      @media (max-width: 1199px){
        margin: 0;
        font-size: 22px;
      }
    }

    &__button {
      .btn(@bg_color);

      color: @title_color;
    }

    &__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__skill {
      //width: 22%;

      &__tit {
        padding: 10px 0;
        text-transform: uppercase;
      }
      &__img{
        padding: 10px 0;
        @media (max-width: 991px){
          max-width: 100px;
        }
        @media (max-width: 767px){

        }
      }

    }
  }


}