<header class="header page__<%- locals.viewName %>">
    <div class="container">
        <div class="header__wrapper">
            <figure class="header__logo"><img class="header__logo" src="images/logo.png" alt="photographer">
            </figure>
            <nav class="header__nav-menu">
            <ul class="header__nav-menu__list">
                <li class="header__nav-menu__item">
                    <a class="header__nav-menu__item__link" href="index.html">Home
                    </a>
                </li>
                <li class="header__nav-menu__item">
                    <a class="header__nav-menu__item__link" href="about.html">About
                    </a>
                </li>
                <li class="header__nav-menu__item">
                    <a class="header__nav-menu__item__link" href="index.html#clients">Clients
                    </a>
                </li>
                <li class="header__nav-menu__item">
                    <a class="header__nav-menu__item__link" href="index.html#gallery">Portfolio
                    </a>
                </li>
                <li class="header__nav-menu__item">
                    <a class="header__nav-menu__item__link" href="index.html#blog">Blog
                    </a>
                </li>
            </ul>
        </nav>
        </div>
    </div>
</header>