.header {
  width: 100%;
  background-color: @bg_color;
  padding-bottom: 30px;

  &.page__index {
    background-color: transparent;
    position: absolute;
    z-index: 1;
    padding-bottom: 0;
  }

  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    @media (max-width: 639px) {
      //display: block;
      margin: 10px;
      padding-top: 0;
    }
  }

  &__logo {
    margin: 0;
    @media (max-width: 639px) {
      max-width: 160px;
    }
  }

  &__nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__list {
      text-align: right;
    }

    &__item {
      display: inline-block;
      margin: 0 10px;
      @media (max-width: 639px) {
        display: block;
        padding: 10px;
      }
      @media (max-width: 339px){
        padding: 2px 0;
      }

      &__link {
        .link_style;
        .font_white;
        padding: 10px 0;
        font-size: 18px;
        @media (max-width: 339px){
          padding: 0;
        }

        &:hover {
          border-bottom-color: @button_color;
          border-bottom-style: solid;
          border-bottom-width: 1px;
        }
      }
    }
  }

}