<% locals.setLayout('src/views/common/layout/layout.ejs') %>
<%- include('sections/banner/banner.ejs') %>
<%- include('sections/my_self/my_self.ejs') %>
<%- include('sections/clients/clients.ejs') %>
<%- include('sections/gallery/gallery.ejs') %>
<%- include('sections/blog/blog.ejs') %>
<%- include('sections/form/form.ejs') %>