<section class="blog" id="blog">
    <div class="container">
        <div class="blog__wrapper">
            <div class="blog__title">
                <div class="blog__title__text">Blog</div>
                <div class="blog__title__subtitle">The point of using Lorem Ipsum is that it has a non more-or-less
                    normal
                    distribution of letters, as clipper opposed. a closer look to our fully,
                </div>
            </div>
            <div class="blog__inner">
                <div class="blog__column blog__break">
                    <div class="blog__column__img"><img class="blog__column__img__image" src="images/blog1.png" alt="photo"></div>
                    <div class="blog__column__wrap">
                        <div class="blog__column__wrap__depiction">Design is the method of putting form and content
                            together.
                        </div>
                        <div class="blog__column__wrap__date"><strong></strong>Life style</strong> - July 3, 2017</div>
                        <article class="blog__column__wrap__post">Sed ut perspiciatis unde omnis iste natus error sit
                            lao hoksi
                            voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni
                            eaque
                            ipsa quae ab cok illoinven tore siva.
                        </article>
                        <div class="blog__column__wrap__more"><a class="blog__column__wrap__link" href="#">Read More...</a></div>
                    </div>
                </div>
                <div class="blog__column blog__shadow">
                    <div class="blog__column__img"><img class="blog__column__img__image" src="images/blog2.png" alt="photo"></div>
                    <div class="blog__column__wrap">
                        <div class="blog__column__wrap__depiction">Design is the method of putting form and content
                            together.
                        </div>
                        <div class="blog__column__wrap__date"><strong>Life style</strong> - July 3, 2017</div>
                        <article class="blog__column__wrap__post">Sed ut perspiciatis unde omnis iste natus error sit
                            lao hoksi
                            voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni
                            eaque
                            ipsa quae ab cok illoinven tore siva.
                        </article>
                        <div class="blog__column__wrap__more"><a class="blog__column__wrap__link" href="#">Read More...</a></div>
                    </div>
                </div>
                <div class="blog__column blog__break">
                    <div class="blog__column__img"><img class="blog__column__img__image" src="images/blog3.png" alt="photo"></div>
                    <div class="blog__column__wrap">
                        <div class="blog__column__wrap__depiction">Design is the method of putting form and content
                            together.
                        </div>
                        <div class="blog__column__wrap__date"><strong>Life style</strong> - July 3, 2017</div>
                        <article class="blog__column__wrap__post">Sed ut perspiciatis unde omnis iste natus error sit
                            lao hoksi
                            voluptatem lios mukatu accusantium doloremq doisa nojilaudan tium, totam rem aperiam, uni
                            eaque
                            ipsa quae ab cok illoinven tore siva.
                        </article>
                        <div class="blog__column__wrap__more"><a class="blog__column__wrap__link" href="#">Read More...</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>