.blog {
  width: 100%;
  margin: 80px 0 170px;
  background-color: @bg_blog_color;
  font-family: arial, sans-serif;
  line-height: 1.5;
  color: @bg_color;
  padding-bottom: 120px;
  padding-top: 70px;
  @media (max-width: 1199px){
    margin: 40px 0 130px;
    padding-top: 40px;
    padding-bottom: 80px ;
  }
  @media (max-width: 767px){
    margin: 40px 0;
    padding: 20px 0;
  }

  &__wrapper {
    position: relative;
  }
  &__break{
    //position: relative;
    //top: -200px;
  }
  &__shadow{
    position: absolute;
    left: 0;
    right: 0;
    top: 240px;
    margin: auto;
    background-color: @bg_blog_color;
    -webkit-box-shadow: 10px 10px 56px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 56px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 56px -11px rgba(0,0,0,0.75);
    @media (max-width: 1199px){
      top: 205px;
    }
    @media (max-width: 991px){
      top:220px;
    }
    @media (max-width: 767px){
      position: inherit;
      top: 0;
      margin: 20px 0;
    }
  }

  &__title {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    @media (max-width: 767px){
      position: inherit;
      width: 80%;
    }


    &__text {
      font-size: 40px;
      font-weight: lighter;
      margin-bottom: 20px;
      @media (max-width: 1199px){
        margin-bottom: 0px;
        font-size: 34px;
      }
      @media (max-width: 767px){

      }
    }


    &__subtitle {
      font-size: 20px;
      @media (max-width: 1199px){
        font-size: 18px;
      }
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

      }

  &__column {
    display: inline-block;
    width: 31%;
    background-color: @title_color;
    @media (max-width: 767px){
      display: block;
      width: 100%;
    }

    &__img {
      text-align: center;

      &__image {
        max-width: 100%;
        width: 100%;
      }
    }
    &__wrap {
      padding: 10px 40px;
      font-size: 16px;
      @media (max-width: 1199px){
        padding: 10px 20px;
      }

      &__depiction {
        font-size: 20px;
        font-weight: bold;
        @media (max-width: 1199px){
          font-size: 18px;
        }
      }

      &__date {
        margin: 20px 0;
        @media (max-width: 1199px){
          margin: 10px 0;
        }

      }

      &__post {
      }

      &__more {
        margin: 20px 0;
        @media (max-width: 1199px){
          margin: 0;
        }
      }
      &__link{
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        color: @bg_color;
        position: relative;
        z-index: 1;

        &:before {
          position: absolute;
          left: 0;
          bottom: 0;
          content: "";
          width: 100%;
          height: 10px;
          background-color: @button_color;
          z-index: -1;
        }
      }
    }
  }

}

