<section class="gallery" id="gallery">
    <div class="container">
        <div class="gallery__wrapper">
            <div class="gallery__inner gallery__about_album">
                <div class="gallery__about_album__wrap">
                    <div class="gallery__about_album__title">Portfolio
                    </div>
                    <div class="gallery__about_album__text">The point of using Lorem Ipsum is that it has a non
                        more-or-less
                        dik sonormal distri bution of
                        letters, as cliper opposed. a closer look to our fully furnished and beautiful demos, which can
                        be
                        use easily On this find website you can find some pictures I've taken during my travel. a clo
                        look to our fully furnished and so beautful demos, which can be use.
                    </div>
                    <div class="gallery__about_album__read_more">
                        <a class="gallery__about_album__read_more" href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="gallery__inner gallery__album">
                <div class="gallery__album__wrap">
                    <div class="gallery__album__inner gallery__album__site_first">
                        <div class="gallery__album__site_first__plot1 gallery__album__indent gallery-image-0">
                            <!--<img class="gallery__album__img" src="images/11.jpg" alt="Gallery photo">-->
                        </div>
                        <div class="gallery__album__site_first__plot2 gallery__album__indent gallery-image-1">
                            <!-- <img class="gallery__album__img" src="images/14.jpg" alt="Gallery photo">-->
                        </div>
                    </div>
                    <div class="gallery__album__inner gallery__album__site_second">
                        <div class="gallery__album__site_second__plot1">
                            <div class="gallery__album__site_second__plot1__photo_one gallery__album__indent gallery-image-2">
                                <!--  <img class="gallery__album__site_second__plot1__photo" src="images/9.jpg" alt="Gallery photo">-->
                            </div>
                            <div class="gallery__album__site_second__plot1__photo_two gallery__album__indent gallery-image-3">
                                <!-- <img class="gallery__album__site_second__plot1__photo" src="images/5.jpg" alt="Gallery photo">-->
                            </div>
                        </div>
                        <div class="gallery__album__site_second__plot2">
                            <div class="gallery__album__site_second__plot2__photo_one gallery__album__indent gallery-image-4">
                                <!-- <img class="gallery__album__site_second__plot2__photo" src="images/2.jpg" alt="Gallery photo">-->
                            </div>
                            <div class="gallery__album__site_second__plot2__photo_two gallery__album__indent gallery-image-5">
                                <!--  <img class="gallery__album__site_second__plot2__photo" src="images/3.jpg" alt="Gallery photo">-->
                            </div>
                        </div>
                        <div class="gallery__album__site_second__plot3 gallery__album__indent gallery-image-6">
                            <!--  <img class="gallery__album__site_second__plot3__photo" src="images/1.jpg" alt="Gallery photo">-->
                        </div>
                    </div>
                </div>
                <div class="gallery__album__btn">
                    <button class="gallery__album__button" onclick="showPhoto();">see more</button>
                </div>
            </div>
        </div>
    </div>
</section>