.gallery {
  width: 100%;
  margin: 80px 0;
  font-family: sans-serif;
  color: @my_self_color;
  line-height: 1.5;
  @media (max-width: 1199px) {
    margin: 40px 0;
  }
  @media (max-width: 767px) {
    margin: 20px 0;
  }

  &__wrapper {
    display: flex;
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__about_album {
    display: flex;
    align-items: center;
    width: 30%;
    background-color: @button_color;
    color: @bg_color;
    padding: 10px 60px;
    margin-right: 30px;
    @media (max-width: 1199px) {
      padding: 10px 40px;
      margin-right: 20px;
    }
    @media (max-width: 991px) {
      padding: 10px;
      margin-right: 0;
    }
    @media (max-width: 767px) {
      display: block;
      width: auto;
      margin: 10px 0 10px 10px;
      padding: 10px;
    }

    &__wrap {
      margin: auto 0;
    }

    &__title {
      font-size: 40px;
      padding: 30px 0;
      @media (max-width: 1199px) {
        font-size: 34px;
        padding: 15px 0;
      }
      @media (max-width: 991px) {
        font-size: 24px;
        padding: 5px 0;

      }
    }

    &__text {
      font-size: 16px;
      margin: 30px 0;
      @media (max-width: 1199px) {
        font-size: 17px;
        margin: 0;
      }
    }

    &__read_more {
      list-style: none;
      text-decoration: none;
      font-weight: bold;
      color: @bg_color;
      margin: 5px 0;

      &:visited {
        color: @bg_color;
      }

    }
  }

  &__album {
    width: 70%;
    @media (max-width: 767px) {
      width: 100%;
    }

    &__wrap {
      display: flex;
    }

    &__inner {

    }

    &__indent {
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 20px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }

    &__site_first {
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 740px;
      @media (max-width: 1399px) {
        height: 600px;
      }
      @media (max-width: 1199px) {
        height: 500px;
      }
      @media (max-width: 991px) {
        height: 450px;
      }

      &__plot1 {
        background-image: url("images/2.jpg");
        flex: 2;
      }

      &__plot2 {
        background-image: url("images/11.jpg");
        flex: 1;
      }
    }

    &__site_second {
      display: flex;
      flex-direction: column;
      flex: 2;

      &__plot1 {
        display: flex;
        flex: 1;

        &__photo_one {
          background-image: url("images/8.jpg");
          flex: 3;
        }

        &__photo_two {
          background-image: url("images/12.jpg");
          flex: 1;
        }
      }

      &__plot2 {
        display: flex;
        flex: 1;

        &__photo_one {
          background-image: url("images/7.jpg");
          flex: 1;
        }

        &__photo_two {
          background-image: url("images/4.jpg");
          flex: 1;
        }
      }

      &__plot3 {
        background-image: url("images/13.jpg");
        flex: 1;
      }

    }

    &__btn {
      @media (max-width: 767px) {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__button {
      cursor: pointer;
      padding: 20px 60px;
      border-radius: 31px;
      font-size: 16px;
      font-weight: bold;
      background-color: @bg_blog_color;
      border: 1px solid @button_color;
      text-transform: uppercase;
      color: @button_color;
      margin-left: 10px;

      &:hover {
        background-color: lighten(@bg_blog_color, 20%);
      }
      &:focus{
        outline: none;
      }

    }
  }

}
#gallery{

}
