<section class="form">
    <div class="container">
        <div class="form__wrapper">
            <div class="form__inner">
                <form id="contact-form">
                    <div class="form__input form__text">Let's work?</div>
                    <div class="form__input">
                        <input class="form__input__name" class="name" type="text" name="YourName" maxlength="20"
                            placeholder="Your name">
                    </div>
                    <div class="form__input">
                        <input class="form__input__name" class="name" type="email" name="YourEmail" maxlength="20"
                            placeholder="Your email">
                    </div>
                    <div class="form__input"><textarea class="form__input__name" name="YourMassages" id="Massage" cols="50"
                                                    rows="4" placeholder="Your Massage"></textarea>
                    </div>
                    <div class="form__input">
                        <button class="form__input__button" type="submit">send massage</button>
                        <span class="form__input__page_up" id="page_up">
                            <svg enable-background="new 0 0 26 26" height="26px" id="Layer_1" version="1.1" viewBox="0 0 26 26" width="26px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><polygon fill="white" points="0.046,24.418 2.13,26.502 12.967,15.666 23.803,26.502 25.887,24.418 12.967,11.498  "/><polygon fill="white" points="0.046,13.418 2.13,15.502 12.967,4.666 23.803,15.502 25.887,13.418 12.967,0.498  "/></g></svg>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>