.form {
  background-image: url("images/form.png");
  height: 100%;

  // &__wrapper {

  // }

  &__inner {
    margin: 0 auto;
  }

  &__text {
    font-size: 40px;
    color: @title_color;
  }

  &__input {
    position: relative;
    text-align: center;
    margin: 20px 10px;
    @media (max-width: 339px){
      margin: 10px 0;
    }
    

    &__name {
      background-color: @input_color;
      max-width: 470px;
      min-width: 470px;
      padding: 10px;
      border: none;
      @media (max-width: 639px){
        min-width: 300px;
        max-width: 300px;
      }
      @media (max-width: 339px){
        min-width: 280px;
        max-width: 280px;
      }

      &:focus {
        outline-color: @button_color;
      }
    }

    .name {
      min-height: 40px;
      max-height: 40px;
    }

    #Massage {
      min-height: 70px;
    }

    &__button {
      .btn(@button_color);
      text-transform: uppercase;
    }
    &__page_up{
      position: absolute;
      right: 10px;
      bottom: -21px;
      width: 50px;
      height: 40px;
      padding: 5px;
      background: transparent;
      border: none;
      cursor: pointer;
      @media (max-width: 639px){
        right: -10px;
        width: 30px;
        height: 40px;
      }
      &:hover{
        background-color:  @input_color;
        outline: none;
      }
      &:disabled{
        outline: none;
        border: none;
      }
    }
  }
}