<section class="banner">
    <div class="container">
        <div class="banner__wrapper">
            <div class="banner__inner">
                <div class="banner__title">Hello, I'm <br> Dakota Jhonson</div>
                <div class="banner__text">I’m an Art Director & Photographer based in the San Francisco.</div>
                <div>
                    <button class="banner__button">See My Works</button>
                </div>
                <div class="banner__icon">
                    <a class="link_style" href="https://www.facebook.com/profile.php?id=100002158751744"><i class="fab fa-facebook-f icons"></i></a>
                    <a class="link_style" href="#"><i class="fab fa-twitter icons"></i></a>
                    <a class="link_style" href="https://instagram.com/vin.vv?igshid=1rlrtdeajhz8y"><i class="fab fa-instagram icons"></i></a>
                    <a class="link_style" href="https://www.linkedin.com/in/victoria-vivi-b958861a5/"><i class="fab fa-linkedin-in icons"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>