
.banner {
  width: 100%;
  height: 56vw;
  background-image: url("images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  display: flex;
  align-items: center;
  position: relative;
  @media (max-width: 639px) {
    display: block;
    padding-top: 40px;
    align-items: normal;
  }

  &__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px;
    @media (max-width: 639px) {
      padding: 12px 10px 0 10px;
    }
    @media (max-width: 339px){
     padding-top: 8px;
    }
  }

  &__inner {
  }

  &__title {
    font-size: 60px;
    font-weight: lighter;
    color: @title_color;
    @media (max-width: 768px) {
      font-size: 40px;
    }
    @media (max-width: 639px) {
      font-size: 22px;
    }
    @media (max-width: 339px){
      font-size: 18px;
    }
  }

  &__text {
    .font_white;
    font-size: 20px;
    font-weight: lighter;
    margin: 40px 0;
    @media (max-width: 768px) {
      margin: 20px 0;
      font-size: 16px;
    }
    @media (max-width: 639px) {
      font-size: 14px;
      margin: 10px 0;
      max-width: 250px;
    }
    @media (max-width: 339px){
      font-size: 12px;
      max-width: 200px;
    }

  }

  &__button {
    .btn(@button_color);
    @media (max-width: 639px){
      margin: 0;
      padding: 8px 24px;
      font-size: 14px;
      border-radius: 15px;
    }
  }

  &__icon {
    position: absolute;
    bottom: 10px;
    text-align: right;
    left: 0;
    right: 0;
    margin-right: 60px;
    color: @title_color;
    @media (max-width: 639px){
      margin-right: 15px;
    }
  }


}