.about{
  background-color: @bg_blog_color;
  padding: 40px;
  &__wrapper{
    margin: 10px 60px;
    padding: 20px;
    color:@my_self_color;
  }
  &__title{
    font-size: 24px;
    color:@my_self_color;
  }
  &__text{
    font-size: 18px;
    line-height: 1.5;
    color:@my_self_color;
  }
}