@bg_color: #2b2d5c;
@button_color: #f2c200;
@title_color: #ffffff;
@my_self_color: #595666;
@input_color: #b6b7c7;
@bg_blog_color: #f3f3f4;
/*mixin*/
.btn(@color){ /*button*/
  cursor: pointer;
  margin: 10px 0;
  padding: 20px 50px;
  border-radius: 31px;
  font-size: 16px;
  background-color: @color;
  border: none;
  &:hover{
    background-color: lighten(@color, 20%);
  }

  &:focus{
    outline: none;
  }
}
.font_white{
  color: @title_color;
  font-family: arial, sans-serif;
}
.link_style{
  list-style: none;
  text-decoration: none;
   &:visited{
    color: @title_color;
  }
}
.icons{
  color: @title_color;
  margin: 0 5px;
}
